@mixin imageIco {
    width: 25px;
}

@media screen and (min-width: 768px) {
    /*Header - Footer*/
    .footerFirst {
        justify-content: flex-end;
        top: 10px;
        background-color: transparent;
        box-shadow: none;
    }
    button {
        margin-right: 2%;
    }
    .icoSend {
        top: 0px;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    .icoOptional {
        display: none;
    }
    .icoSend img {
        @include imageIco();
    }
    .icoHome img {
        @include imageIco();
    }
    .icoIG img {
        @include imageIco();
    }
    .icoChat img {
        @include imageIco();
    }
    .contenedorLogo {
        justify-content: flex-start;
        position: fixed;
        background-color: #FAFAFA;
        height: 10vh;
        top: 0%;
    }
    .logo {
        width: 20vw;
        @media screen and (min-width: 992px) {
            width: 12vw;
        }
    }
    /*NavBar*/
    .contenedorCategorias {
        width: 140px;
        height: 140px;
    }
    .categorias {
        top: 10%
    }
    /*Main*/
    .productos {
        margin-top: 12%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 992px) {
            margin-top: 7%;
        }
    }
    .infoProductos {
        margin-left: 3%;
        width: 45%;
        @media screen and (min-width: 992px) {
            width: 30%;
        }
    }
    /*Second Page*/
    /*Main*/
    .productos2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .infoProductos {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1200px) {
            width: 45%;
        }
    }
}